<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149674106-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-149674106-6');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <link rel="shortcut icon" type="image/png" href="{{ $.Site.BaseURL }}icons/mastodex.png">

    <!-- Styles -->
    {{ $sass := resources.Get "sass/main.sass" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />

    <!-- Scripts -->
    <script>
        window.baseURL = "{{ $.Site.BaseURL }}"
    </script>
    {{ $script := resources.Get "js/main.js" }}
    <script defer src="{{ $script.Permalink }}"></script>
</head>

<body>
<div id="content">
<header>
    <div class="header-logo">
        <img src="{{ $.Site.BaseURL }}icons/mastodex.png" /><a href="{{ "/" | relLangURL }}">Mastodex</a>
    </div>
    <div class="header-options">
        {{ partial "language-switcher" . }}
        <div class="links">
            <a href="https://ko-fi.com/funkeh" target="_blank"><img src="{{ $.Site.BaseURL }}icons/ko-fi.png" /></a><a href="http://gitlab.com/funkeh/mastodex" target="_blank"><img src="{{ $.Site.BaseURL }}icons/gitlab.svg" /></a>
        </div>
    </div>
</header>
<main>